!!!5
%html
	%head
		%meta{charset:"utf-8"}
		%title DulcesBudinis
		%link{rel:"stylesheet", href:"/offline/style.css"}
		%meta{name:"description", content:""}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%body
		#p#message Parece que no pudimos conectarnos a internet, no hay problema, aquí está la información que necesitas.
		.container
			%h1 DulcesBudinis
			%p
				%strong Ubicación
				Barrio Las Flores, Moreno, Buenos Aires.

			%p 
				%strong Contactos
				+5491128279902
				martinez.lucila@outlook.es

			%p
				%strong Horario
				Encargos para fin de semanas y feriados. 
			%p 	
				%strong Descripción
				Calidad, atención y una experiencia deliciosa.